
.mainContainer {
    display: flex;

    margin: 5.75rem 15.75rem 2.75rem 15.75rem;
    padding: 3.75rem 3.75rem 5.75rem 3.75rem;
    
    .logoContainer {
        display: flex;
        flex-direction: column;

        width: 50%;

        div {
            width: 65%;
        }
        
        h3 {
            font-size: 1.35rem;

            border-bottom: 2px dashed var(--yellow-600);
            width: fit-content;
            padding-bottom: 1.25rem;
        }

        .textContainer {
            margin-top: 1.25rem;

            p {
                line-height: 2.80rem;
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
    }

    .animalImageContainer {
        display: flex;
    
        width: 50%;
    
        > img {
            transform: scale(1, -1)
        }
    }

}
.sectionOptionsContainer {
    display: flex;
    gap: 20px;

    margin: 1.75rem 15.75rem 2.75rem 15.75rem;
    padding: 1.75rem 3.75rem 5.75rem 3.75rem;
}